/**********************************************************************\

Styles for PatternGenerator project page

\**********************************************************************/

@import url("blankaspect-project.css");

dl.patterns
{
  background-color: #F2F2EC;
  border: 1px solid #DCDCD0;
  margin-left: 1.0em;
  margin-right: 1.0em;
  padding: 0.2em 0.5em;
}
dl.patterns dt
{
  color: #304868;
  font-style: italic;
  font-weight: bold;
  padding: 0.3em 0.2em 0 0.2em;
}
dl.patterns dd
{
  margin: 0 1.5em;
  padding: 0 0.2em 0.3em 0.2em;
}

h4
{
  padding-bottom: 0.3em;
  border-bottom: 1px solid #B4B8C8;
}

ul.list li
{
  margin-left: -0.5em;
}

ul.spaceAbove
{
  padding-top: 0.5em;
}

/*--------------------------------------------------------------------*/
